.topbar {
  position: fixed;
  z-index: 5;
  width: 100%;
  background-color: white;
  box-shadow: 1px 0 10px rgba(106, 106, 106, 0.33); }
  .topbar ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 10px 40px; }
    .topbar ul li a {
      color: #acacac;
      font-size: 1.3rem;
      transition: all linear 0.2s; }
      .topbar ul li a:hover {
        color: #FFB03B; }
    .topbar ul li:nth-child(1) {
      margin-top: 5px;
      margin-left: 30px;
      width: 400px;
      -ms-flex-positive: 1;
          flex-grow: 1; }
    .topbar ul li:nth-child(2) {
      margin-top: 5px;
      width: auto;
      padding-right: 10px;
      margin-right: 10px; }
    .topbar ul li:nth-child(3) {
      margin-top: 5px;
      margin-right: 30px;
      width: auto; }
  @media screen and (max-width: 39.9375em) {
    .topbar ul {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      list-style: none;
      margin: 0;
      padding: 10px 40px; }
      .topbar ul li a {
        color: #acacac;
        font-size: 1.3rem;
        transition: all linear 0.2s; }
        .topbar ul li a:hover {
          color: #FFB03B; }
      .topbar ul li:nth-child(2) {
        margin-top: 8px; }
      .topbar ul li:nth-child(3) {
        margin-top: 8px;
        width: auto; } }

header {
  background: #222;
  width: 100%;
  height: 500px; }

.view {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  perspective: 400; }

.plane {
  width: 120px;
  height: 120px;
  transform-style: preserve-3d; }

.plane.main {
  position: absolute;
  top: -220px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transform: rotateX(60deg) rotateZ(-30deg);
  animation: rotate 20s infinite linear; }

.plane.main .circle {
  width: 120px;
  height: 120px;
  position: absolute;
  transform-style: preserve-3d;
  border-radius: 100%;
  box-sizing: border-box;
  box-shadow: 0 0 60px crimson, inset 0 0 60px crimson; }

.plane.main .circle::before, .plane.main .circle::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 10%;
  height: 10%;
  border-radius: 100%;
  background: crimson;
  box-sizing: border-box;
  box-shadow: 0 0 60px 2px crimson; }

.plane.main .circle::before {
  transform: translateZ(-90px); }

.plane.main .circle::after {
  transform: translateZ(90px); }

.plane.main .circle:nth-child(1) {
  transform: rotateZ(72deg) rotateX(63.435deg); }

.plane.main .circle:nth-child(2) {
  transform: rotateZ(144deg) rotateX(63.435deg); }

.plane.main .circle:nth-child(3) {
  transform: rotateZ(216deg) rotateX(63.435deg); }

.plane.main .circle:nth-child(4) {
  transform: rotateZ(288deg) rotateX(63.435deg); }

.plane.main .circle:nth-child(5) {
  transform: rotateZ(360deg) rotateX(63.435deg); }

@keyframes rotate {
  0% {
    transform: rotateX(0) rotateY(0) rotateZ(0); }
  100% {
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg); } }

.fi-laptop {
  font-size: 30px; }

.fi-social-facebook {
  font-size: 50px; }
  .fi-social-facebook:hover {
    color: #0D47A1; }

.fi-social-twitter {
  font-size: 50px; }
  .fi-social-twitter:hover {
    color: #2196F3; }

.fi-social-google-plus {
  font-size: 50px; }
  .fi-social-google-plus:hover {
    color: #D50000; }

.intro {
  margin-top: 30px;
  margin-right: 100px; }

::-webkit-scrollbar {
  display: none; }

.leftContainer {
  height: 610px;
  overflow: auto;
  margin: 0 0 0 -50px;
  padding-right: 30px; }
  .leftContainer h4 {
    margin-top: 50px; }

.testimonial {
  margin-bottom: 20px; }
  .testimonial .img-profile {
    border-radius: 100%; }

.triangle-isosceles {
  position: relative;
  padding: 10px;
  max-width: 280px;
  margin: 1em 1px 3em;
  color: #000;
  background: gray;
  /* default background for browsers without gradient support */
  /* css3 */
  background: linear-gradient(silver, gray);
  border-radius: 5px; }

/* creates triangle */
.triangle-isosceles:after {
  content: "";
  position: absolute;
  bottom: -15px;
  /* value = - border-top-width - border-bottom-width */
  left: 50px;
  /* controls horizontal position */
  border-width: 15px 15px 0;
  /* vary these values to change the angle of the vertex */
  border-style: solid;
  border-color: gray transparent;
  /* reduce the damage in FF3.0 */
  display: block;
  width: 0; }

.rightContainer {
  float: right;
  margin-top: 100px; }
  .rightContainer hr {
    margin-top: -0.01em;
    margin-left: -10px;
    width: 180px; }
  .rightContainer footer {
    width: 200px;
    margin-right: -20px;
    margin-top: 20px; }

hr {
  border: 0;
  color: gray;
  background-color: darkgray;
  height: 5px; }

@media screen and (max-width: 80em) {
  .intro {
    margin-top: 30px;
    margin-right: 100px; }
  ::-webkit-scrollbar {
    display: none; }
  .leftContainer {
    float: left;
    padding-left: 100px;
    margin-top: 30px; }
    .leftContainer h4 {
      margin-top: 50px; }
  .testimonial {
    margin-bottom: 20px; }
    .testimonial .img-profile {
      border-radius: 100%; }
  .triangle-isosceles {
    position: relative;
    padding: 10px;
    max-width: 280px;
    margin: 1em 1px 3em;
    color: #000;
    background: gray;
    /* default background for browsers without gradient support */
    /* css3 */
    background: linear-gradient(silver, gray);
    border-radius: 5px; }
  /* creates triangle */
  .triangle-isosceles:after {
    content: "";
    position: absolute;
    bottom: -15px;
    /* value = - border-top-width - border-bottom-width */
    left: 50px;
    /* controls horizontal position */
    border-width: 15px 15px 0;
    /* vary these values to change the angle of the vertex */
    border-style: solid;
    border-color: gray transparent;
    /* reduce the damage in FF3.0 */
    display: block;
    width: 0; }
  .rightContainer {
    float: right;
    margin-top: 100px;
    padding-right: -10px; }
    .rightContainer hr {
      margin-top: -0.01em;
      margin-left: -10px;
      width: 180px; }
    .rightContainer footer {
      width: 200px;
      margin-right: 50px;
      margin-top: 50px; }
  hr {
    border: 0;
    color: gray;
    background-color: darkgray;
    height: 5px; } }

@media screen and (max-width: 70em) {
  .intro {
    margin-top: 30px;
    margin-right: 100px; }
  ::-webkit-scrollbar {
    display: none; }
  .leftContainer {
    float: left;
    width: 770px;
    margin-top: 30px; }
    .leftContainer h4 {
      margin-top: 50px; }
  .testimonial {
    margin-bottom: 20px; }
    .testimonial .img-profile {
      border-radius: 100%; }
  .triangle-isosceles {
    position: relative;
    padding: 10px;
    max-width: 280px;
    margin: 1em 1px 3em;
    color: #000;
    background: gray;
    /* default background for browsers without gradient support */
    /* css3 */
    background: linear-gradient(silver, gray);
    border-radius: 5px; }
  /* creates triangle */
  .triangle-isosceles:after {
    content: "";
    position: absolute;
    bottom: -15px;
    /* value = - border-top-width - border-bottom-width */
    left: 50px;
    /* controls horizontal position */
    border-width: 15px 15px 0;
    /* vary these values to change the angle of the vertex */
    border-style: solid;
    border-color: gray transparent;
    /* reduce the damage in FF3.0 */
    display: block;
    width: 0; }
  .setmed {
    width: 300px;
    margin-left: -10px; }
  .rightContainer {
    float: right;
    margin-top: 100px;
    padding-right: -10px; }
    .rightContainer hr {
      margin-top: -0.01em;
      margin-left: -10px;
      width: 180px; }
    .rightContainer footer {
      width: 200px;
      margin-right: 20px;
      margin-top: 50px; }
  hr {
    border: 0;
    color: gray;
    background-color: darkgray;
    height: 5px; } }

@media screen and (max-width: 40em) {
  .intro {
    margin-top: 30px;
    margin-right: 100px; }
  ::-webkit-scrollbar {
    display: none; }
  .leftContainer {
    width: 460px;
    margin-left: -90px;
    margin-top: 30px; }
    .leftContainer h4 {
      margin-top: 50px; }
  .testimonial {
    margin-bottom: 20px; }
    .testimonial .img-profile {
      border-radius: 100%; }
  .triangle-isosceles {
    position: relative;
    padding: 10px;
    max-width: 280px;
    margin: 1em 1px 3em;
    color: #000;
    background: gray;
    /* default background for browsers without gradient support */
    /* css3 */
    background: linear-gradient(silver, gray);
    border-radius: 5px; }
  /* creates triangle */
  .triangle-isosceles:after {
    content: "";
    position: absolute;
    bottom: -15px;
    /* value = - border-top-width - border-bottom-width */
    left: 50px;
    /* controls horizontal position */
    border-width: 15px 15px 0;
    /* vary these values to change the angle of the vertex */
    border-style: solid;
    border-color: gray transparent;
    /* reduce the damage in FF3.0 */
    display: block;
    width: 0; }
  .rightContainer {
    margin-top: 100px;
    padding-right: -10px; }
    .rightContainer hr {
      margin-top: -0.01em;
      margin-left: -10px;
      width: 180px; }
    .rightContainer footer {
      width: 200px;
      margin-right: 180px;
      margin-top: 50px; }
  hr {
    border: 0;
    color: gray;
    background-color: darkgray;
    height: 5px; } }
