@import "_color";

.fi-laptop{
 font-size: 30px;
}

.fi-social-facebook{
  font-size: 50px;
  &:hover{
    color: $dark-blue;
  }
}
.fi-social-twitter{
  font-size: 50px;
  &:hover{
    color: $blue;
  }
}

.fi-social-google-plus{
  font-size: 50px;
  &:hover{
    color: $red;
  }
}