@media screen and (min-width: 40em){
  .cf:before, .cf:after {
    content: " ";
    display: table;
  }

  .cf:after {
    clear: both;
  }

  .cf {
    *zoom: 1;
  }

  .menu {
    list-style: none;
    width: -moz-fit-content;
    width: fit-content;
    margin-top: -3%;
    margin-left: 1%;
    margin-bottom: 5%;
  }

  .menu > li {
    float: left;
    position: relative;
    -webkit-transform: skewX(25deg);
  }

  .menu a {
    display: block;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-family: Arial, Helvetica;
    font-weight: bold;
    font-size: 14px;
  }

  .menu > li > a {
    -webkit-transform: skewX(-25deg);
    padding: 1em 2em;
  }

  /* Dropdown */
  .submenu {
    position: absolute;
    width: 200px;
    left: 50%;
    margin-left: 70px;
    margin-top: -85px;
    -webkit-transform: skewX(-25deg);
    -webkit-transform-origin: left top;
  }

  .submenu li {
    position: relative;
    overflow: hidden;
  }

  .submenu > li > a {
    padding: 1em 2em;
  }

  .submenu > li::after {
    content: '';
    position: absolute;
    top: 125%;
    height: 100%;
    width: 100%;
  }

  /* Odd stuff */
  .submenu > li:nth-child(odd) {
    -webkit-transform: skewX(-25deg) translateX(0);
    margin-top: -20px;
  }

  .submenu > li:nth-child(odd) > a {
    -webkit-transform: skewX(25deg);
  }

  .submenu > li:nth-child(odd)::after {
    right: -50%;
    -webkit-transform: skewX(-25deg) rotate(3deg);
  }

  /* Even stuff */
  .submenu > li:nth-child(even) {
    -webkit-transform: skewX(25deg) translateX(0);
    margin-top: -54px;

  }

  .submenu > li:nth-child(even) > a {
    -webkit-transform: skewX(-25deg);
  }

  .submenu > li:nth-child(even)::after {
    left: -50%;
    -webkit-transform: skewX(25deg) rotate(3deg);
  }

  /* Show dropdown */
  .submenu, .submenu li {
    opacity: 0;
    visibility: hidden;
  }

  .submenu li {
    transition: .7s ease -webkit-transform;
  }

  .menu > li:hover .submenu, .menu > li:hover .submenu li {
    opacity: 1;
    visibility: visible;
  }

  .menu > li:hover .submenu li:nth-child(even) {
    -webkit-transform: skewX(25deg) translateX(150px);
  }

  .menu > li:hover .submenu li:nth-child(odd) {
    -webkit-transform: skewX(-25deg) translateX(-15px);
  }

}

@media screen and (max-width: 39.9375em) {
  .cf:before, .cf:after {
    content: " ";
    display: table;
  }

  .cf:after {
    clear: both;
  }

  .cf {
    *zoom: 1;
  }

  .menu {
    list-style: none;
    width: -moz-fit-content;
    width: fit-content;
    margin-top: -6%;
    margin-left: 1%;
    margin-bottom: 5%;
  }

  .menu > li {
    float: left;
    position: relative;
    -webkit-transform: skewX(25deg);
  }

  .menu a {
    display: block;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-family: Arial, Helvetica;
    font-weight: bold;
    font-size: 14px;
  }

  .menu > li > a {
    -webkit-transform: skewX(-25deg);
    padding: 1em 2em;
  }

  /* Dropdown */
  .submenu {
    position: absolute;
    width: 200px;
    left: 50%;
    margin-left: 70px;
    margin-top: -85px;
    -webkit-transform: skewX(-25deg);
    -webkit-transform-origin: left top;
  }

  .submenu li {
    position: relative;
    overflow: hidden;
  }

  .submenu > li > a {
    padding: 1em 2em;
  }

  .submenu > li::after {
    content: '';
    position: absolute;
    top: 125%;
    height: 100%;
    width: 100%;
  }

  /* Odd stuff */
  .submenu > li:nth-child(odd) {
    -webkit-transform: skewX(-25deg) translateX(0);
    margin-top: -20px;
  }

  .submenu > li:nth-child(odd) > a {
    -webkit-transform: skewX(25deg);
  }

  .submenu > li:nth-child(odd)::after {
    right: -50%;
    -webkit-transform: skewX(-25deg) rotate(3deg);
  }

  /* Even stuff */
  .submenu > li:nth-child(even) {
    -webkit-transform: skewX(25deg) translateX(0);
    margin-top: -54px;

  }

  .submenu > li:nth-child(even) > a {
    -webkit-transform: skewX(-25deg);
  }

  .submenu > li:nth-child(even)::after {
    left: -50%;
    -webkit-transform: skewX(25deg) rotate(3deg);
  }

  /* Show dropdown */
  .submenu, .submenu li {
    opacity: 0;
    visibility: hidden;
  }

  .submenu li {
    transition: .7s ease -webkit-transform;
  }

  .menu > li:hover .submenu, .menu > li:hover .submenu li {
    opacity: 1;
    visibility: visible;
  }

  .menu > li:hover .submenu li:nth-child(even) {
    -webkit-transform: skewX(25deg) translateX(150px);
  }

  .menu > li:hover .submenu li:nth-child(odd) {
    -webkit-transform: skewX(-25deg) translateX(-15px);
  }
}
