@import '_color';

.topbar {
  position: fixed;
  z-index: 5;
  width: 100%;
  background-color: white;
  box-shadow: 1px 0 10px rgba(106, 106, 106, 0.33);
  ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 10px 40px;
    li {
      a {
        color: #acacac;
        font-size: 1.3rem;
        transition: all linear 0.2s;
        &:hover {
          color: $secondarycolor;
        }
      }
    }
    li:nth-child(1) {
      margin-top: 5px;
      margin-left: 30px;
      width: 400px;
      flex-grow: 1;
    }
    li:nth-child(2) {
      margin-top: 5px;
      width: auto;
      padding-right: 10px;
      //border-right: 2px solid #dddddd;
      margin-right: 10px;
    }
    li:nth-child(3) {
      margin-top: 5px;
      margin-right: 30px;
      width: auto;
    }
  }
  @media screen and (max-width: 39.9375em) {
    ul {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      margin: 0;
      padding: 10px 40px;
      li {
        a {
          color: #acacac;
          font-size: 1.3rem;
          transition: all linear 0.2s;
          &:hover {
            color: $secondarycolor;
          }
        }
      }
      li:nth-child(2) {
        margin-top: 8px;
      }
      li:nth-child(3) {
        margin-top: 8px;
        width: auto;
      }
    }
  }
}
