@import "_topbar";
@import "_color";
@import "_header";
@import "_icon";

.intro {
  margin-top: 30px;
  margin-right: 100px;
}

::-webkit-scrollbar {
  display: none;
}

.leftContainer {
  height: 610px;
  overflow: auto;
  margin: 0 0 0 -50px;
  padding-right: 30px;
  h4 {
    margin-top: 50px;
  }
  .img-header {

  }
}

.testimonial {
  margin-bottom: 20px;
  .img-profile {
    border-radius: 100%;
  }
}

.triangle-isosceles {
  position: relative;
  padding: 10px;
  max-width: 280px;
  margin: 1em 1px 3em;
  color: #000;
  background: gray; /* default background for browsers without gradient support */
  /* css3 */
  background: -webkit-gradient(linear, 0 0, 0 100%, from(silver), to(gray));
  background: -moz-linear-gradient(silver, gray);
  background: -o-linear-gradient(silver, gray);
  background: linear-gradient(silver, gray);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/* creates triangle */
.triangle-isosceles:after {
  content: "";
  position: absolute;
  bottom: -15px; /* value = - border-top-width - border-bottom-width */
  left: 50px; /* controls horizontal position */
  border-width: 15px 15px 0; /* vary these values to change the angle of the vertex */
  border-style: solid;
  border-color: gray transparent;
  /* reduce the damage in FF3.0 */
  display: block;
  width: 0;
}

.rightContainer {
  float: right;
  margin-top: 100px;
  //margin-right: -90px;
  hr {
    margin-top: -0.01em;
    margin-left: -10px;
    width: 180px;

  }

  footer {
    width: 200px;
    margin-right: -20px;
    margin-top: 20px;

  }
}

hr {
  border: 0;
  color: gray;
  background-color: darkgray;
  height: 5px;
}

//media Screen 80 or smaller
@media screen and (max-width: 80em) {
  .intro {
    margin-top: 30px;
    margin-right: 100px;
  }
  ::-webkit-scrollbar {
    display: none;
  }
  .leftContainer {
    float: left;
    padding-left: 100px;
    margin-top: 30px;
    h4 {
      margin-top: 50px;
    }
    .img-header {

    }
  }
  .testimonial {
    margin-bottom: 20px;
    .img-profile {
      border-radius: 100%;
    }
  }
  .triangle-isosceles {
    position: relative;
    padding: 10px;
    max-width: 280px;
    margin: 1em 1px 3em;
    color: #000;
    background: gray; /* default background for browsers without gradient support */
    /* css3 */
    background: -webkit-gradient(linear, 0 0, 0 100%, from(silver), to(gray));
    background: -moz-linear-gradient(silver, gray);
    background: -o-linear-gradient(silver, gray);
    background: linear-gradient(silver, gray);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }

  /* creates triangle */
  .triangle-isosceles:after {
    content: "";
    position: absolute;
    bottom: -15px; /* value = - border-top-width - border-bottom-width */
    left: 50px; /* controls horizontal position */
    border-width: 15px 15px 0; /* vary these values to change the angle of the vertex */
    border-style: solid;
    border-color: gray transparent;
    /* reduce the damage in FF3.0 */
    display: block;
    width: 0;
  }

  .rightContainer {
    float: right;
    margin-top: 100px;
    padding-right: -10px;
    hr {
      margin-top: -0.01em;
      margin-left: -10px;
      width: 180px;

    }

    footer {
      width: 200px;
      margin-right: 50px;
      margin-top: 50px;

    }
  }

  hr {
    border: 0;
    color: gray;
    background-color: darkgray;
    height: 5px;
  }
}

//media Screen 50 or smaller
@media screen and (max-width: 70em) {
  .intro {
    margin-top: 30px;
    margin-right: 100px;
  }
  ::-webkit-scrollbar {
    display: none;
  }
  .leftContainer {
    float: left;
    width: 770px;

    margin-top: 30px;
    h4 {
      margin-top: 50px;
    }
    .img-header {

    }
  }
  .testimonial {
    margin-bottom: 20px;
    .img-profile {
      border-radius: 100%;
    }
  }
  .triangle-isosceles {
    position: relative;
    padding: 10px;
    max-width: 280px;
    margin: 1em 1px 3em;
    color: #000;
    background: gray; /* default background for browsers without gradient support */
    /* css3 */
    background: -webkit-gradient(linear, 0 0, 0 100%, from(silver), to(gray));
    background: -moz-linear-gradient(silver, gray);
    background: -o-linear-gradient(silver, gray);
    background: linear-gradient(silver, gray);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }

  /* creates triangle */
  .triangle-isosceles:after {
    content: "";
    position: absolute;
    bottom: -15px; /* value = - border-top-width - border-bottom-width */
    left: 50px; /* controls horizontal position */
    border-width: 15px 15px 0; /* vary these values to change the angle of the vertex */
    border-style: solid;
    border-color: gray transparent;
    /* reduce the damage in FF3.0 */
    display: block;
    width: 0;
  }
  .setmed {
    width: 300px;
    margin-left: -10px;
  }
  .rightContainer {
    float: right;
    margin-top: 100px;
    padding-right: -10px;
    hr {
      margin-top: -0.01em;
      margin-left: -10px;
      width: 180px;

    }

    footer {
      width: 200px;
      margin-right: 20px;
      margin-top: 50px;

    }
  }

  hr {
    border: 0;
    color: gray;
    background-color: darkgray;
    height: 5px;
  }
}

//media Screen 40 or wider
@media screen and (max-width: 40em) {
  .intro {
    margin-top: 30px;
    margin-right: 100px;
  }
  ::-webkit-scrollbar {
    display: none;
  }
  .leftContainer {
   width: 460px;
    margin-left: -90px;
    margin-top: 30px;
    h4 {
      margin-top: 50px;
    }
    .img-header {

    }
  }
  .testimonial {
    margin-bottom: 20px;
    .img-profile {
      border-radius: 100%;
    }
  }
  .triangle-isosceles {
    position: relative;
    padding: 10px;
    max-width: 280px;
    margin: 1em 1px 3em;
    color: #000;
    background: gray; /* default background for browsers without gradient support */
    /* css3 */
    background: -webkit-gradient(linear, 0 0, 0 100%, from(silver), to(gray));
    background: -moz-linear-gradient(silver, gray);
    background: -o-linear-gradient(silver, gray);
    background: linear-gradient(silver, gray);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }

  /* creates triangle */
  .triangle-isosceles:after {
    content: "";
    position: absolute;
    bottom: -15px; /* value = - border-top-width - border-bottom-width */
    left: 50px; /* controls horizontal position */
    border-width: 15px 15px 0; /* vary these values to change the angle of the vertex */
    border-style: solid;
    border-color: gray transparent;
    /* reduce the damage in FF3.0 */
    display: block;
    width: 0;
  }

  .rightContainer {
    margin-top: 100px;
    padding-right: -10px;
    hr {
      margin-top: -0.01em;
      margin-left: -10px;
      width: 180px;

    }

    footer {
      width: 200px;
      margin-right: 180px;
      margin-top: 50px;

    }
  }

  hr {
    border: 0;
    color: gray;
    background-color: darkgray;
    height: 5px;
  }
}
